* {
    box-sizing: border-box;
    font-family: 'esamanru OTF';
    caret-color: #4C73FF;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -0.35px;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.accent_color {
    color: #4C73FF;
}

.white {
    color: white;
}

.black {
    color: black;
}

.bold {
    font-weight: 700;
    line-height: 160%;
    letter-spacing: -0.35px;
}

.medium {
    font-weight: 500;
    line-height: 160%;
    letter-spacing: -0.35px;
}

.light {
    font-weight: 300;
    line-height: 160%;
    letter-spacing: -0.35px;
}


.caption {
    font-size: 12px;
}

.textSmall {
    font-size: 14px;
}

.textMedium {
    font-size: 16px;
}

.textLarge {
    font-size: 18px;
}

.titleSmall {
    font-size: 24px;
}

.titleMedium {
    font-size: 28px;
}

.titleLarge {
    font-size: 36px;
}

.heroS {
    font-size: 48px;
}

.heroL {
    font-size: 64px;
}

.pass_button {
    position: fixed;
    z-index: 999;
    bottom: 0%;
    padding: 0px 16px 24px 16px;
    width: 100%;
}

.top_button {
    width: 100%;
    border: none;
    color: white;
    background-color: #4C73FF;
    border-radius: 8px;
    padding: 16px 0px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.40);
}

.baropass_top {
    min-width: 1200px;
    position: relative;
}

.baropass_top img{
    width: 100%;
    height: 1140px;
    object-fit: cover;
}

.container {
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.pass_info {
    display: flex;
    flex-direction: row;
    padding: 160px 0px;
    border-bottom: 1px solid #F2F2F3;
}

.info_area {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.info_left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.info_left img {
    width: 80px;
}

.info_right {
    width: 448px;
}

.pass_benefit {
    min-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0px;
}

.benefit_text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
}

.benefit_text {
    color: #3B3D43;
}

.benefit_area {
    max-width: 1200px;
}

.benefit_area img {
    width: 100%;
    margin-top: 80px;
}

.pass_price {
    background-color: #F8F8F9;
    min-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0px;
}

.pass_price img {
    width: 996px;
    margin-top: 40px;
}

.pass_detail {
    height: 100%;
}

.pass_detail1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px 0px;
    background-color: #161d26;
}

.detail_area {
    width: 996px;
    display: flex;
    flex-direction: row;
    gap: 80px;
    align-items: center;
    justify-content: space-between;
}

.detail_area img {
    width: 384px;
    height: 384px;
}

.detail_txt {
    width: 486px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.detail_benefit {
    width: 90px;
    border: 1px solid #4C73FF;
    color: #4C73FF;
    border-radius: 40px;
    text-align: center;
    padding: 4px 0px;
}

.detail_maintxt {
    display: flex;
    flex-direction: column;
    color: white;
}

.detail_subtxt {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.detail_subtxt img {
    width: 56px;
    height: 56px;
}

.detail_subtxt :nth-child(1) {
    color: #3B3D43;
}

.detail_subtxt :nth-child(3) {
    color: white;
}

.pass_detail2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px 0px;
    background-color: black;
}

.pass_comparison {
    background-color: #F8F8F9;
    min-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0px 160px 0px;
}

.pass_comparison img {
    width: 996px;
    margin-top: 40px;
}